# Compiled Object files
*.tif
*.aux.xml
*.stl
.spyproject/*
*.zip
*.hgt

*.gpkg

.vscode/
.ipynb_checkpoints/
__pycache__/

logfile.txt
touch_terrain_configs*/
template-workspace/*

sources/*
tools/*

state_stls_*/*

tmp/*